html {padding: 20px;}
h1 {font-size: 80px;
    padding: 0px,0px,0px,0px;}
h2 {font-size: 50px;
    padding: 10px,0px,0px,0px;}
h3 {font-size: 20px;
    padding: 10px,0px,0px,0px;}

.ImgOnPage {width: 20%;}

.test1:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
             zoom:40%;}
.test2:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
             zoom:40%;}
.test3:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label-and-desc.svg');
             zoom:40%;}

.test4:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
             zoom:40%;}
.test5:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
             zoom:40%;}
.test6:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label-and-desc.svg');
             zoom:40%;}

.test7:after {content:url('hens in ties.jpg');
              zoom:20%;}
.test8a:after {content:url('hens in ties.jpg') "A white chicken with a black tail sits in a box that says Clucky.";
              zoom:20%;}
.test8b:after {content:url('hens in ties.jpg');
               zoom:20%;}
.test8b:after {content:url"A white chicken with a black tail sits in a box that says Clucky.";}


.test9:before {content:url('hens in ties.jpg');
               zoom:20%;}
.test10a:before {content:url('hens in ties.jpg') "a white chicken with a black tail sits in a box that says Clucky.";
                zoom:20%;}
.test10b:before {content:url('hens in ties.jpg') "a white chicken with a black tail sits in a box that says Clucky.";
                zoom:20%;}
.test10b:before {content:"a white chicken with a black tail sits in a box that says Clucky.";}

.test11:after {background-image:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
               background-size:40%;}
.test12:after {background-iamge:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
               background-size:40%;}
.test13:after {background-image:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label-and-desc.svg');
               background-size:40%;}

.test14:before {background-image:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
               background-size:40%;}
.test15:before {background-image:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
               background-size:40%;}
.test16:before {background-image:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label-and-desc.svg');
               background-size:40%;}

.test17:after {background-image:url('hens in ties.jpg');
               background-size:20%;}
.test18:after {background-image:url('hens in ties.jpg');
               background-size:20%;
               background-repeat: no-repeat;
               content: "A white chicken with a black tail sits in a box that says Clucky.";}

.test19:before {background-image:url('hens in ties.jpg');
                background-size:20%;}
.test20:before {background-image:url('hens in ties.jpg');
                background-size:20%;
                background-repeat: no-repeat;
                content: "A white chicken with a black tail sits in a box that says Clucky.";}
