html {padding: 20px;}
h1 {font-size: 100px;
    padding-top:0px;}
h2 {font-size: 50px;
    padding-top: 10px;}
h3 {font-size: 30px;
    padding-top: 10px;}

.test1:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
             zoom:40%;}
.test2:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
             zoom:40%;}
.test3:after {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-withoutlabel-and-desc.svg');
             zoom:40%;}

.test4:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-without-label.svg');
             zoom:40%;}
.test5:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-with-label.svg');
             zoom:40%;}
.test6:before {content:url('https://93t.github.io/Informative-Icon-Test/traffic-light-withoutlabel-and-desc.svg');
             zoom:40%;}
